<!--
<copyright file="web.config" company="HexaView Technologies Ltd.">
 Copyright (c) 2014 All Rights Reserved
</copyright>
<author>Vipul Sharma</author>
<date>04/15/2015 11:39:58 PM </date>
  -->
<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
   <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
   <add key="DocusignLogin" value=" "/>                                                   <!--Enter Docusign UserName-->
    <add key="DocusignPassword" value=""/>                                                <!--Enter Docusign Password-->
    <add key="DocusignIntegratorKey" value=""/>                                           <!--Enter Docusign IntegratorKey-->
    </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>